 <div class="home-page">

  <!-- Splash banner that only shows when not logged in -->
  <div class="banner" show-authed="false">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl.appName | lowercase"></h1>
      <p>A place to share your somthing else.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <table style="width:50%">
        <tr>
          <th>Aile</th>
          <th>Item</th> 
        </tr>
        <tr ng-repeat="item in $ctrl.getList() | orderBy: '+aile'">
          <td>
            <input type="text" name="fname" ng-model="item.aile">
          </td>
          <td>
            <input type="text" name="fname" ng-model="item.item">
          </td> 
        </tr>
      </table>
      <button ng-click="$ctrl.addItem()">Add Item</button>
    </div>
  </div>
</div>
