 <div class="home-page">

  <!-- Splash banner that only shows when not logged in -->
  <div class="banner" show-authed="false">
    <div class="container">
      <h1 class="logo-font" ng-bind="::$ctrl.appName | lowercase"></h1>
      <p>A place to share your somthing else.</p>
    </div>
  </div>

  <smart-list current-list="$ctrl.currentList" ng-if="$ctrl.currentList"></smart-list>
  <div class="container page">
    <div class="row">
      <table style="width:50%">
        <tr>
          <th>Date</th>
          <th># of Items</th>
        </tr>
        <tr ng-repeat="item in $ctrl.getList() | orderBy: 'aile'" ng-click="$ctrl.loadList(item)">
          <td>
            {{item.date}}
          </td>
          <td>
            {{item.numberOfItem}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
